body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.btn {
  position: relative;
  padding: 15px 35px;
  background: transparent;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all 3s ease; /* ⏳ SLOW */
}

/* GLOW SLOW */
.glow {
  border: 2px solid #38bdf8;
}

.glow:hover {
  background: #38bdf8;
  color: #020617;
  box-shadow:
    0 0 10px #38bdf8,
    0 0 30px #38bdf8,
    0 0 60px #38bdf8;
}

/* SLIDE SLOW */
.slide {
  border: 2px solid #22c55e;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #22c55e;
  transform: translateX(-100%);
  transition: transform 3s ease; /* ⏳ SLOW */
  z-index: -1;
}

.slide:hover::before {
  transform: translateX(0);
}

.slide:hover {
  color: #020617;
}
